.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 20px 50px;
    margin: auto;
    border-bottom: 1px solid gray;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, .75);
}
#options{
    display: flex;
    flex-grow: .5;
    align-items: center;
    justify-content: space-around;
}
.buttonsContainer{
    display: flex;
    gap: 10px;
}
.navbar a {
    color: lightgray;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: all .3s;
}

.navbar a:hover {
    color: white;
}
/* Media query for screens smaller than 768px (e.g., smartphones) */
@media screen and (max-width: 767px) {
    .navbar a {
        font-size: 16px;
        padding: 0.3rem;
    }
    .navbar{
        padding:20px 10px;
    }
    .navbar button{
        height: 45px;
        width: auto;
    }
    #options{
        display: none;
    }
}

/* Media query for screens between 768px and 991px (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar a {
        font-size: 18px;
        padding: 0.4rem;
    }
}

/* Media query for screens between 992px and 1199px (e.g., small desktops) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar a {
        font-size: 22px;
        padding: 0.45rem;
    }
}

/* Media query for screens larger than 1200px (e.g., large desktops) */
@media screen and (min-width: 1200px) {
    .navbar a {
        font-size: 24px;
        padding: 0.5rem;
    }
}